*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
/out
.gradle
README.html
.idea
*.iml
node_modules
bower_components
.DS_Store
.springBeans

*.class
